// COLORS
$primary-color: #ffcd00;
$secondary-color: #c49d00;
$color-blue: #1990df;
$color-green: #22b14c;
$color-dark-gray: #444444;
$color-light-gray: #757575;
$color-lighter-gray: #e6e6e6;
$color-default: #fff;
$color-black:#000;

//FONTS
$font: 'Montserrat', sans-serif;
$max-lines: 2;

//OTHERS THINGS
$border-radius: 3px;

//BREAKPOINTS
// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;
// Small tablets (portrait view)
$screen-md: 768px;
// Tablets and small desktops
$screen-lg: 992px;
// Large tablets and desktops
$screen-xl: 1200px;
// Extra Large desktops
$screen-xxl: 1400px;

